.white { color: white !important; }
.red { color: #FF0055 !important; }
.green { color: #8CE300 !important; }
.blue { color: #3BADFF !important; }
.cyan { color: #7CE6DE !important; }
.yellow { color: #FFCC00 !important; }
.magenta { color: #D951E8 !important; }
.black { color: #272727 !important; }
.orange { color: #FF5900 !important; }
.gray { color: #8A8A8A !important; }

body {
  background-color: #272727;
  color: white;
}

h1, h2, h3, h4, .navbar-link {
  font-family: "Lato";
}

h1 {
  font-weight: 100;
  margin: 35px 0;
}

@media (min-width: 769px) and (max-width: 1199px) {
  h1 {
    font-size: 90px !important;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 110px !important;
  }
}

hr {
  border-color: #8A8A8A;
}

.navbar-link {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.navbar-link a {
  display: block;
  padding: 10px 0;
  margin: 0 -15px;
}

.navbar-link a:hover {
  background-color: #8A8A8A;
  color: white !important;
}

.navbar-link a:hover, .navbar-link a:visited, h1 a:hover, h1 a:visited,
.page a.gallery-item, a.gallery-item:hover {
  text-decoration: none;
  color: white;
}


.page a {
  color: #FFCC00;
}

.page {
  font-size: 16px;
  padding-right: 50px;
}


.gallery-item {
  // border: 1px solid red;
  width: 275px;
  height: 325px;
  padding: 0 10px;
  padding-bottom: 10px;
  float: left;
  font-size: 14px;
}

.gallery-item .description {
  height: 50px;
}

.gallery-item img {
  min-height: 190px;
}

.gallery-item .stack {
  margin-top: 10px;
  margin-bottom: 0;
}

a.gallery-item:hover {
  background-color: #8A8A8A;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}